body {
    font-family: sans-serif;
    background: linear-gradient(to right, #48e4, #fff, #cccccc);;
    display: flex;
}

* {
    box-sizing: border-box;
}

.box {
  font-size: 30px;
  padding: 0 40px;
  border-radius: 7px;
  height: 200vh;
  width: 45vw;
  overflow: scroll;
  border: 7px groove black;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  margin: auto;
}

p::first-letter{
  initial-letter: 3 1;
  color: #ff4d4d99;
  margin-right: 7px;
  text-shadow: 2px 2px 0px black;
}

a {
  color: rebeccapurple;
}